<nav class="navbar navbar-dark bg-primary mb-2">
    <a class="navbar-brand" href="#">Home</a>
    <form class="form-inline my-2 my-lg-0">
        {{input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value=searchInput}}
        <button class="btn btn-success" type="submit" {{action "search" searchInput}} >Search</button>
    </form>
</nav> 
<div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-2 title_div">
        {{user-card user=model.user}}
    </div>

    <div class="col-4"> 
    {{time-line tweets=model.tweets user=model.user}}
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
</div>