<div  style="height:100vh;background-color: azure">

<div class="row">
    <div class="col-6" >

    </div>
    <div class="col-6">
        <div class="row  mt-5">
        <div vclass="col-3">
            {{input value=userId class="form-control"}}</div><div class="col-2 ml-1">{{#link-to "feed" userId  tagName='submit' class="btn btn-success"}}Login{{/link-to}}</div>
        </div>
    </div>

</div>
<div class="row mt-5">
    <div class="col-6" >

    </div>
    <div class="col-3">
        {{#link-to "register" class="btn btn-primary btn-block" }} Sign Up{{/link-to}}
    </div>

</div>
</div>